IPyKernel >= 5.2.1
IPython >= 7.13.0
IPyWidgets >= 7.5.1
Jinja2 >= 2.11.2
Jupyter >= 1.0.0
Jupyter-Client >= 6.1.3
Jupyter-Console >= 6.1.0
Jupyter-Core >= 4.6.3
NBConvert >= 5.6.1
NBFormat >= 5.0.6
Notebook >= 6.0.3
Tornado >= 6.0.4
WidgetsNBExtension >= 3.5.1
