IPyKernel >= 5.3.4
IPython >= 7.18.1
IPyWidgets >= 7.5.1
Jinja2 >= 2.11.2
Jupyter >= 1.0.0
Jupyter-Client >= 6.1.7
Jupyter-Console >= 6.2.0
Jupyter-Core >= 4.6.3
NBConvert >= 6.0.7
NBFormat >= 5.0.8
Notebook >= 6.1.4
Tornado >= 6.0.4
WidgetsNBExtension >= 3.5.1
